/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333; /* Example background color */
    background-image: url("photos/background.png"); /* Example background image */
    background-size: auto; /* Adjusts the background image size */
    background-position: center; /* Centers the background image */
    color: #fff; /* Text color */
    font-size: 20px;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 2); /* Horizontal offset, vertical offset, blur radius, color */
    font-weight: bold; /* Bold font weight */

    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
    border-bottom: 1px solid #ccc;
}

h2 {
    color: #333;
}

/* Photo gallery styles */
#photo-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#photo-gallery img {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Adjust this value as needed */
    object-fit: cover;
}

/* Like button styles */
#like-container {
    display: flex;
    align-items: center;
}

#like-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

#like-button img {
    width: 32px;
    height: 32px;
}

#like-count {
    font-size: 1.2em;
}

/* Audio player styles */
.audio-container {
    margin-bottom: 20px;
}

.audio-container p {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}
.header-title {
    margin-top: -10px; /* Adjust the value as needed to move the text up */
}
#qrcode {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

#qrcode img {
    width: 200px;
    height: 200px;
}
